<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>131149699558-g27b45nl0mq5m7bu2l4v5ldalm33rfie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131149699558-g27b45nl0mq5m7bu2l4v5ldalm33rfie</string>
	<key>API_KEY</key>
	<string>AIzaSyBDT0FXawmtSk9QYw-5XyXNNT1VpEhVAzs</string>
	<key>GCM_SENDER_ID</key>
	<string>131149699558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>belma.ibrahimbas.ShowMeUrTattoo</string>
	<key>PROJECT_ID</key>
	<string>show-me-your-tattoo</string>
	<key>STORAGE_BUCKET</key>
	<string>show-me-your-tattoo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131149699558:ios:628a2740b816e4dc</string>
	<key>DATABASE_URL</key>
	<string>https://show-me-your-tattoo.firebaseio.com</string>
</dict>
</plist>